<header class="masthead text-center text-white">
  <div class="masthead-content">
      <div class="container px-5">
          <h1 class="masthead-heading mb-0">{{ page.title }}</h1>
          <h2 class="masthead-subheading mb-0">{{ page.subtitle }}</h2>
          {% if page.counter == true %}
            {% include counter.html %}
          {% endif %}  
      </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>